*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}


.image-grid{
    padding: 2rem;
    display: grid;
    gap:2rem;
    grid-template-columns: (3, 1fr);
     grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "img1 img2 img3"
    "img1 img4 img3"
    "img5 img4 img6";
    
}
.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
