:root {
  --bg-main: #221f1f;
  --card-bg: #8c8381;
  --panel-bg: #dfdbdb;
  --dark: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

/* PAGE CENTERING */
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-main);
}

/* FORM WRAPPER */
.main-form {
  display: flex;
  gap: 3rem;
  padding: 2.5rem;
  background: var(--card-bg);
  border-radius: 1rem;
  max-width: 900px;
  width: 100%;
}

/* LEFT COLUMN */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-input input {
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
}

/* PASSWORD FIELD */
.password-container {
  position: relative;
}

.show-password-btn {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* SUBMIT BUTTON */
.submit-btn {
  padding: 0.7rem;
  background: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* RIGHT COLUMN */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* PROGRESS */
.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.progress{
    font-family: 'Wasted Vindey'; 
    border-left: 7px solid #343a40;
    border-top: 7px solid #343a40;
    border-right: 3px solid gray;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: inset #343A40 1px 1px 5px;


}

/* CHECKLIST */
.checklist {
  list-style: none;
  background: var(--panel-bg);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .main-form {
    flex-direction: column;
  }
}
