* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

a{
  font-size: 20px;
    color: black;
    text-decoration: none;
    position: relative;
}
.tooltip .tooltiptext{
  /* visibility: hidden; */
  width: 200px;
  background-color: black;
  color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
} 

.tooltip .tooltiptext::after{
  content:"";
  position: absolute;
  top: 100%;
  left:50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color:black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}